* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #7ADFFF;
}

.container {
    padding: 120px;
}   

.boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.box {
    width: 285px;
    height: 269px;
    background-color: #FFFFFF;
}