        /*Main heading of the page */
h1 {
    color: red;
    text-align: center;
}
        /*Sub heading of the page */
h2 {
    color: brown;
}

header {
    /* font-family --> font-style */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

                /* Whole page content layout */
body {
    background-color: rgb(242, 196, 203);

    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;

    max-width: 1200px;  /* maximum limit itni hai */
    width: 100%;        /* chhoti screen me fit ho */

    display: grid;
    place-items: center;
    height: 100vh;
    margin: 1;
    /* CSS Grid ek 2-dimensional layout system hai (row + column dono handle karta hai).
    place-items: center → content ko perfect center me rakh deta hai (upar-neeche & left-right).
    height: 100vh →(vh-> viewport height) container poore screen ka ban jata hai, isliye center exact middle hota hai. */
    
}

        /* For contact-section */
form {
    margin-left: 20px;  /* page se left side ki taraf margin*/
    border: 2px solid black;
    height: 290px;  /* border ka height*/
    width: 480px;   /* border ka width*/
    padding: 10px;  /* border ke charo taraf gap dalne ke liye*/
}

section {
    margin-bottom: 50px;    /* gap between two section*/
    border-bottom: 1px solid rgb(167, 165, 165); /* har section ke last mai ek line add karne ke liye*/
}

                /* Hover-Effect */

        /* For all button hover effect */
/* before hover effect*/
button {
    background-color: skyblue;
    color: black;
    /* transition → Makes the change smooth* */
    transition: 0.3s; 
}
/* After hover effect*/
button:hover {
    background-color: rgb(41, 160, 207);
}

        /* For all links hover effect */
/* before hover effect*/
a {
    text-decoration: underline;
    color: blue;
    transition: 0.2s;
}
/* After hover effect*/
a:hover {
    color: red;
}