* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #7ADFFF;
    padding: 60px;
}

.container {
    height: 1109px;
    gap: 16px;
    display: flex;
    justify-content: center;
}

.one {
    width: 440px;
    height: 273px;
    background-color: #4F8EEC;
    margin-bottom: 16px;
}
.two {
    width: 440px;
    height: 824px;
    background-color: #0A1E3C;
}
.three {
    width: 258px;
    height: 1109px;
    background-color: #005C79;
}

@media screen and (min-width: 1080px){
    body {
        padding: 120px;
    }
    .container {
        height: 946px;
        gap: 20px;
    }
    .one {
        width: 895px;
        height: 378px;
        margin-bottom: 20px;
    }
    .two {
        width: 895px;
        height: 548px;
    }
    .three {
        width: 285px;
        height: 946px;
    }
}

@media screen and (max-width: 400px) {
    body {
        padding: 16px;
    }
    .container {
        height: 932px;
        gap: 16px;
        flex-direction: column;
    }
    .one {
        width: 358px;
        height: 188px;
    }
    .two {
        width: 358px;
        height: 380px;
        margin-bottom: 16px;
    }
    .three {
        width: 358px;
        height: 332px;
    }
}